@use 'theme/colors' as *;

.founder {
	width: 100%;
	min-height: 50vh;
	background-color: $red;

	.founder-info {
		height: 100%;
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: white;
		padding: 1rem;
		margin: 0 auto;

		> img {
			border-radius: 100%;
		}

		> h2 {
			font-size: 1.25rem;
			margin: 1rem 0;
		}

		> p.remarks {
			font-size: 1rem;
			letter-spacing: 3px;
			line-height: 1.5;
		}
	}
}

@media screen and (max-width: 600px) {
	.founder {
		.founder-info {
			> h2 {
				font-size: 1.25rem;
			}

			> p.remarks {
				font-size: 0.8rem;
			}
		}
	}
}
