@use 'theme/colors' as *;

header nav {
	height: 5rem;
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	background-color: white;

	.logo,
	.nav-links {
		display: flex;
		align-items: center;
	}

	.logo {
		color: $red;
		font-size: 3rem;
	}

	.nav-links {
		a {
			color: $dark;
			margin: 0 2rem;
			transition: color 0.3s;

			&:hover {
				color: $light-dark;
			}

			svg {
				color: $red;
				transition: inherit;
				font-size: 1.75rem;

				&:hover {
					color: $light-dark;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	header nav {
		padding: 1rem;

		.nav-links {
			a {
				margin: 0 0.5rem;

				svg {
					font-size: 1.5rem;
				}
			}
		}
	}
}
