@use 'theme/colors' as *;

footer {
	min-height: 12rem;
	background-color: $dark;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;

	> h2 {
		margin-bottom: 1rem;
		font-size: 2rem;
		color: $red;
	}

	> p {
		margin-bottom: 1rem;
		font-size: 1rem;
	}
}
