@use 'theme/colors' as *;

.order-confirmation {
	width: 100%;
	height: calc(100vh - 17rem);
	background-color: $light-pink;

	section {
		height: 100%;
		max-width: 800px;
		padding: 2rem;
		margin: auto;
		background-color: white;

		h2 {
			text-transform: uppercase;
			font-size: 1.5rem;
			margin: 1rem 0;
			text-align: center;
		}

		form {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;

			.form-group {
				width: 70%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 1rem;
				margin: 1rem;
				background-color: rgb(233, 233, 233);
				border-radius: 5px;

				label {
					padding: 1rem 0;
					font-weight: bold;
				}
			}

			button {
				padding: 0.5rem 1rem;
				margin: 1rem;
				border: none;
				border-radius: 5px;
				outline: none;
				font-size: 1rem;
				background-color: $red;
				color: white;
				cursor: pointer;

				&:hover {
					background-color: $dark-red;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.order-confirmation {
		section {
			width: 100%;
			padding: 1rem;

			h2 {
				font-size: 1.25rem;
			}

			form {
				.form-group {
					width: 100%;
					margin: 0.5rem 0;
				}

				button {
					width: 100%;
				}
			}
		}
	}
}
