@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import './colors.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1rem;
}

:is(h1, h2, h3) {
	text-transform: uppercase;
}

:is(h1, h2, h3, h4, h5) {
	font-weight: 400;
	letter-spacing: 2px;
	margin: 1rem 0;
}

p {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

:is(input, select, textarea) {
	padding: 0.5rem 1rem;
	margin: 0.5rem;
	font-size: 1rem;
	outline: none;

	&.primary {
		border: 2px solid rgb(202, 202, 202);
		border-radius: 5px;

		&:focus {
			border: 2px solid $dark-red;
		}
	}
}

button,
.button {
	border: none;
	border-radius: 5px;
	outline: none;
	font-size: 1rem;
	line-height: 1;
	cursor: pointer;
}

.button {
	padding: 0.75rem 1rem;
	margin: 1rem 0;

	&.primary {
		background-color: $red;
		color: white;

		&:hover,
		&:focus {
			background-color: $dark-red;
		}
	}
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	h4 {
		font-size: 1rem;
	}

	h5 {
		font-size: 0.75rem;
	}

	.button {
		width: 100%;
	}
}
